@font-face {
    font-family: 'Comic Sans MS';
    src: url("/images/COMIC.TTF");
  }

body{
    background-color: #1F4E79;

}

.gerät1{
    height: 170px;
    width: 350px;
    background-color: #3078BA;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    margin-top: -50px;

    margin-bottom: 20px;

}
.gerät3{
    height: 70px;
    width: 70px;
    background-color: #3078BA;
    margin: 27px;
    text-align: center;
    border-radius: 15px;
    margin-top: 90px;


    margin-bottom: 20px;

}

.menu{
    height: 50px;
    width: 170px;
    background-color: #3078BA;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;

}
.member_icon{
    height: 50px;
    width: 50px;
    background-color: #3078BA;
    margin: 27px;
    position: absolute;
    border-radius: 15px;
    margin-top: 0px;
}
.menu_icon{
    height: 50px;
    width: 50px;
    background-color: #3078BA;
    margin: 27px;
    position: absolute;
    border-radius: 15px;
    margin-left: 330px;
    margin-top: -50px;
    left: 0px;
}
.logo{
    position: relative;
    top: -30px;
    left: 0px;

}
.logo_menu{
    position: relative;
    top: 14px;
    left: 8px;

}
.logo_member{
    position: relative;
    top: 5px;
    left: 5px;
    src: url("/images/p1.png");
    width: 40px;

}


.h2{
    color: #8498AD;
    margin: 27px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Comic Sans MS';
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    

}
.h4{
    color: #8498AD;
    margin: 27px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Comic Sans MS';
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    position: absolute;
    left:10px;
    

}



#kreis1{
    height: 50px;
    width: 50px;
    background-color: #8498AD;
    margin: 27px;
    position: absolute;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 0px;
    left: 44px;
}
#port{
    position: relative;
    top: 10px;
    height: 30px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#lamp{
    position: relative;
    top: 5px;
    height: 40px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.gk{
    height: 25px;
    width: 55px;
    background-color: #8498AD;
    margin: 27px;
    position: absolute;
    border-radius: 50px;
    margin-top: 23px;
    margin-left: 0px;
    left: 300px;
}

.kk{
    height: 21px;
    width: 21px;
    background-color: #1F4E79;
    margin: 27px;
    position: absolute;
    border-radius: 50%;
    margin-top: 2px;
    margin-left: 3px;
    transition: 0.1s;
}
.h3{
    color: #8498AD;
    margin: 27px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Comic Sans MS';
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    position: relative;
    top: 20px;
    

}
#shift{
    position: relative;
    top: -60px;
    left: 270px;
}
#shift2{
    position: relative;
    left: 50px;
    top: 20px;
    width: 200px;
}
.h9{
    color: #8498AD;
    margin: 27px;
    position: relative;
    top: 30px;
    margin-top: 20px;
    margin-bottom: 45px;
    font-size: 20px;
    font-family: 'Comic Sans MS';
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    text-align: left;
    

}

