body{
    background-color: #1F4E79;

}
.menu{
    height: 50px;
    width: 300px;
    background-color: #3078BA;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;

}
.logo{
    position: relative;
    top: -30px;
    left: 15px;

}
.h2{
    color: #8498AD;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 80px;
    font-size: 30px;
    font-family: 'Comic Sans MS';
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    

}
.input{
    margin-top: 0px !important;
    margin-bottom: 30px !important;
    margin: auto;
    display: block;
    background-color: #4391da;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    font-family: 'Comic Sans MS';
    color: #020202;
    
    
    
}
#input2{
    margin-bottom: 0px;
}

.vergessen{
    text-align: center;
    margin: 0px;
    font-size: 12px;
    position: relative;
    bottom: -40px;
    font-family: 'Comic Sans MS';   
    color: #8498AD;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    
}

.registrieren{
    height: 40px;
    width: 150px;
    background-color: #3078BA;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    margin-top: 50px;
    color: #8498AD;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    
    
}
.registrieren p{
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 5px;
    font-family: 'Comic Sans MS';
    color: #8498AD;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    
}

.anmelden{
    height: 40px;
    width: 150px;
    background-color: #3078BA;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    margin-top: 0px;
    margin-bottom: 50px;
    color: #8498AD;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    
}
.anmelden p{
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 5px;
    font-family: 'Comic Sans MS';
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    
}
